@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas neue';
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
    height: 2000px;
}

.header {
    margin-top: 60px;
    text-align: center;
    background: #CD7700;
    color: white;
    font-size: 30px;
  }

.main {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 120px;
}

.main img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    height: 12vh;
    z-index: 999;
    width: 100%;
    position: absolute;
}

.logomenu {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 90%;
}

.logo-box {
    width: 10%;
}

.links {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.nav-links li a {
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.nav-links {
    display: flex;
    width: 100%;
    gap: 25px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.cta-button {
    background-color: #CD7700;
    border: 0;
    font-family: 'Bebas Neue'; 
    color: rgb(255, 255, 255);
    height: 30px;
    width: 100px;
}

.nyheder .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-bottom: 20%;
    padding-top: 65%;
}

.news-header {
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    font-size: 250%;
    color: rgb(0, 0, 0);
}

.artikler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    color: white;
    font-size: 150%;
    background-color: white;
    height: 600px;
}

